@use 'src/styles/vars';

.homepage {
    background-color: vars.$homepageBackgroundColor;
    color: vars.$textColor;
    width: 100%;
    height: 92vh;
    display: flex;
    flex-direction: column;
    &-presentation {
        margin: 4em 0;
    }    
    
    &-presentation-logo {
        display: flex;
        justify-content: center;
        margin: auto;
        padding-top: 5em;
        max-width: 100vw;
    }

    &-presentation-description {
        font-family: 'Raleway', 'Roboto', sans-serif;
        text-align: center;
        margin: 2em 15em 2em 15em;
    }
    
    &-suggest {
      padding: 3em 2em 3em 2em;
      
      &-cards {
        
      }
    }
}
