@use 'src/styles/vars';

.team {
  background-color: vars.$homepageBackgroundColor;
  font-family: vars.$font;
  padding: 2em 0 0 0;

  &-presentation{
    color: vars.$textColor;
    padding-top: 2em;
    text-align: center;
    
      &-description{
      font-size: 2em;
      font-weight: 700;
    }
  }
  &-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4em 0 2em 0;
  }
};


