@use 'src/styles/vars';

.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:auto;
  padding: 2em 0 0 0;
  height: 100vh;
  &-presentation{
    color: vars.$textColor;
    padding-top: 2em;
      &-description{
      font-family: 'Raleway', 'Roboto', sans-serif;
      font-size: 2em;
      font-weight: 700;
    }
  }
  &-cards {
    display: flex;
    flex-direction: row;
    padding: 4em 0 2em 0;
    width: 70%;
  }
};
