@use 'src/styles/vars';

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: vars.$backgroundColor;
  &-logo {
    width: 5%;
    height: auto;
  }
  &-contact {
    display: flex;
    
    align-items: center;
    justify-content: center;
    &-text {
      margin: 0 2em 0 0;
      font-size: 1.5em;
      color: vars.$textColor;
      font-family: 'Raleway', 'Roboto', sans-serif;
    }
    &-arrow {
      font-size: 2em;
      font-weight: bold;
      color: vars.$textColor;
      font-family: 'Raleway', 'Roboto', sans-serif;
    }
  }
}
