@use 'src/styles/vars';

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  &-logo {
    width: 10%;
    height: 10%;
  }
  &-contact {
    display: flex;
    
    align-items: center;
    justify-content: center;
    &-text {
      margin: 0 2em 0 0;
      font-size: 1.5em;
      color: vars.$textColor;
    }
    &-arrow {
      font-size: 3em;
      font-weight: bold;
      color: vars.$textColor;
    }
  }
}
