@use 'src/styles/vars';

.menubar {
    background-color: vars.$backgroundColor;
    min-width: 100%;
    max-width: 100%;
    height: 10vh;
    font-family: vars.$font;
    color: vars.$textColor;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-around;
    padding: 1em 0;

    &-header-logo {
      align-self: center;
    }
}
label, #toggle
{
    display: none;
}
 
@media all and (max-width: 991px)
{
    .header .header
    {
        height: 60px;
    }
 
    .header .menubar
    {
        display: none;
        flex-direction: column;
        height: 220px;
    }
 
    label 
    {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 40px;
        color: white;
        cursor: pointer;
    }
    #toggle:checked + .menubar {
      display: flex;
      height: 250px;
      
  }
}

