@use 'src/styles/vars';

.menubar {
    background-color: vars.$backgroundColor;
    min-width: 100vw;
    max-width: 100vw;
    height: 10vh;
    font-family: vars.$font;
    color: vars.$textColor;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-around;
    padding: 1em 0;

    &-menubar-center {
      align-self: center;

      &-header-logo {
        width: 30%;
      }
    
  }
}

