@use 'src/styles/vars';

.card-promo {
  background-color: vars.$homepageBackgroundColor;
  font-family: vars.$font; 
  color: vars.$textColor;
  border: solid 2px vars.$backgroundColorHover;
  padding: 2em;
  margin: 2em;
  
  &-body-title{
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: .3em;
    margin-top: .3em;
    &:active{
      font-family: vars.$font; 
      color: vars.$textColor;
    }
  }
  &-body-description:active {
    font-family: vars.$font; 
    color: vars.$textColor;
  }
}

.card-promo:hover {
  background-color: vars.$backgroundColorHover;
  color: vars.$textColorHover;

  &-card-promo-body-title:hover:active, &-card-promo-body-description:hover:active {
    font-family: vars.$font; 
    color: vars.$textColorHover;
  }
}

.card-promo-body {
  max-width: 240px;
  max-height: 240px;
  text-align: center;
}

.card-promo-body-avatar {
  max-width: 70%;
} 
