@use 'src/styles/vars';

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: vars.$homepageBackgroundColor;
  color: vars.$textColor;
  font-family: vars.$font;
  padding: 2em 0;
  height: 85.1vh;
  
  &-title {
    padding: 1em 0;
    font-size: 200%;
    font-weight: bold;
  }
}
