@use 'src/styles/vars';

.card {  
  background-color: vars.$homepageBackgroundColor;
  font-family: vars.$font; 
  color: vars.$textColor;
  border: solid 2px vars.$backgroundColorHover;
  padding: 2em;
  margin: 2em;

  &-card-title:active, &-card-job:active {
    font-family: vars.$font; 
    color: vars.$textColor;
  }
}

.card:hover {
  background-color: vars.$backgroundColorHover;
  color: vars.$textColorHover;

  &-card-title:hover:active, &-card-job:hover:active {
    font-family: vars.$font; 
    color: vars.$textColorHover;
  }
}


.card-img {
  width: 100%;
} 

.card-job {
  font-weight: normal;
}
