@use 'src/styles/vars';

.promo-content {
  background-color: vars.$backgroundColor;
  color: vars.$textColor;
  font-family: vars.$font;

  &-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 4em 0 4em 0;
  
  &-identity-img {
  width: 5%;
    }
  
  &-description-date, &-description-referent {
    font-weight: normal;
    }
  }
}

.promo-content-body {
  padding: 4em;
}

