@use 'src/styles/vars';

.promo-content {
  background-color: vars.$homepageBackgroundColor;
  color: vars.$textColor;
  font-family: vars.$font;

  &-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 4em 0 4em 0;

  &-identity-img {
  width: 75%;
    }
  &-description-title {
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 1em;
  }
  &-description-date, &-description-referent {
    font-weight: normal;
    }
  }
}

.promo-content-body {
  padding: 3em 2em 3em 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

