@use 'src/styles/vars';

.button {
  width: fit-content;
  font-weight: bolder;
  height: 2em;
  padding: .5em;
  display: flex;
  align-items: space-between;
  background-color: vars.$backgroundColor;
  &>a {
    color: vars.$textColor;
    font-family: vars.$font;
  }
}

.button>a:hover {
  color: vars.$textColor;
}
