@use 'src/styles/vars';

.projects {
    background-color: vars.$homepageBackgroundColor;
    color: vars.$textColor;
    font-family: vars.$font;
    width: 100%;

    &-header {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-title {
      width: fit-content;
      padding-top: 1em;
      font-size: 350%;
      font-weight: bold;
    }
    &-searchbar {
      width: 50%;
      display: flex;
      align-items: center;
      .ui.button {
        font-size: 1.35rem;
      }
    }
    &-description {
        text-align: center;
        margin: 2em 1em 2em 1em;
        width: fit-content;
    }
    &-list-card {
      padding: 3em 2em 3em 2em;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
}

.ui.icon.input>input {
  color: vars.$homepageBackgroundColor;
  font-family: vars.$font;
  background-color: vars.$textColor;
  &::placeholder{
    color: vars.$homepageBackgroundColor;
    font-family: vars.$font;
  }
}

i.search.icon {
  color: vars.$homepageBackgroundColor;
}
