@use 'src/styles/vars';

.student-header {
  background-color: vars.$homepageBackgroundColor;
  color: vars.$textColor;
  font-family: vars.$font;
  display: flex;
  flex-direction: column;
  padding: 1em 0 4em 0;
  align-items: center;
  &-name {
    font-weight: bold;
    font-size: 2em;
    margin: .5em 0;
  }
  &-img {
    max-width: 20%;
  }
}

.student-body {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  grid-template-columns: 4;
  grid-gap: 10px;
  justify-content: space-around;
  background-color: vars.$homepageBackgroundColor;
  color: vars.$textColor;
  padding-bottom: 4em;
  font-family: vars.$font;
  text-align: center;
  &-promo-name, &-project-name{
    font-size: 1.5em;
    margin: .4em 0;
  }
  
  &-logo-promo {
    max-width: 70%;
  }

  &-logo-project {
    max-width: 60%;
  }

}

.student-body-promo {
  grid-column: 1;
  grid-row: 1;
  border: solid 2px vars.$backgroundColorHover;
  padding: 2em;
  width: 360px;
}

.student-body-projet {
  grid-column: 2;
  grid-row: 1;
  border: solid 2px vars.$backgroundColorHover;
  padding: 2em;
  width: 360px;
}

.student-body-stack {
  grid-column: 3;
  grid-row: 1;
  border: solid 2px vars.$backgroundColorHover;
  padding: 2em;
  width: 360px;
}

.student-body-social {
  grid-column: 4;
  grid-row: 1;
  border: solid 2px vars.$backgroundColorHover;
  padding: 2em;
  width: 360px;
}

.student-body-promo:hover, .student-body-projet:hover, .student-body-stack:hover, .student-body-social:hover {
  background-color: vars.$backgroundColorHover;
  color: vars.$textColorHover;
}


