@use 'src/styles/vars';

.student-header {
  background-color: #D83A37;
  color: vars.$textColor;
  font-family: 'Raleway', 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  padding: 4em 0 4em 0;
  align-items: center;
  
  &-img {
    max-width: 20%;
  }
}

.student-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #D83A37;
  color: vars.$textColor;
  padding-bottom: 4em;
  font-family: 'Raleway', 'Roboto', sans-serif;
}
