@use 'src/styles/vars';

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: vars.$homepageBackgroundColor;
  padding: 4em 0;
  height: 85.1vh;
  font-family: 'Raleway', 'Roboto', sans-serif;
  font-weight: bold;
  &-email, &-password {
    padding: 2em 0;
    color: vars.$textColor;
  }
}
