@use 'src/styles/vars';

.card-project {
  background-color: vars.$homepageBackgroundColor;
  font-family: vars.$font; 
  color: vars.$textColor;
  border: solid 2px vars.$backgroundColorHover;
  padding: 2em;
  margin: 2em;
  
  &-card-project-body-title:active, &-card-project-body-description:active {
    font-family: vars.$font; 
    color: vars.$textColor;
  }
}

.card-project:hover {
  background-color: vars.$backgroundColorHover;
  color: vars.$textColorHover;

  &-card-project-body-title:hover:active, &-card-project-body-description:hover:active {
    font-family: vars.$font; 
    color: vars.$textColorHover;
  }
}

.card-project-body {
  max-width: 360px;
  max-height: 400px;
  text-align: center;
}

.card-project-body-img {
  max-width: 75%;
} 

